@import "compass";
@import "compass/reset";
@import "compass/layout/sticky-footer";
@import "social/*.png";

$path: '..';
$top-menu: 6;
$cities-menu: 12;
$p35: 35px; 

@include sticky-footer(225px, "#wrap", "#wrap_footer", "#primary-foot");
@include font-face("MyriadPro", font-files("/myriadpro-boldcond.ttf", "myriadpro-boldcond.otf", "myriadpro-boldcond.eot", "myriadpro-boldcond.svg"));
@include all-social-sprites;

@mixin fullbar {
	width: 100%;
	background: #2061AD;
	font-family: "MyriadPro", Arial, sans-serif;

}

@mixin trans {
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
}

@mixin link-trans {
	color: #fff;
	@include trans;
	&:hover {
		color: #ffe806;
	}
}